@model IEnumerable<MvcMovie.Models.Person>
<pre>@Html.Raw(Json.Serialize(Model))</pre>

@{
    ViewData["Title"] = "Danh sách Người dùng";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm Mới</a>
</p>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Họ và Tên</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonId</td>
                <td>@item.FullName</td>
                <td>@item.Address</td>
                <td>@item.Gmail</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.PersonId" class="btn btn-primary btn-sm">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.PersonId" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
